iTrip/src/server/service/wcf/message/iTrip.Service.Wcf.Message.PublisherIM/Service References/ServiceOfPushToClient/ServicePushToClient2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://itripping.cn:9100/ServicePushToClient.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iTrip.iPP.Proxy" />
  <xs:element name="PushPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iTrip.iPP.Proxy" minOccurs="0" name="package" nillable="true" type="q1:ArrayOfipp_Package" />
        <xs:element minOccurs="0" name="receiver" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>